<div  class="nav-container">
  <a routerLink="/">
    
    <footer>
      <section class="footer-section">
      <p>We acknowledge traditional owners of country throughout australia and pay our respect to our elders past, present and emerging</p>
      <img src="/assets/images/footer-logo.svg" alt="">
      </section>
      <section class="copyright-section">
      <p>Copyright &copy; 2021 Digital Purpose  |  Privacy Policy </p>
      
      <ul class="social-media">
      <li>LinkedIn</li>
      <li>Facebook</li>
      <li>Twitter</li>
      </ul>
      </section>
      </footer>

   </a>
  </div>

